##Overview

Dear Learner, 

Congratulations, you have studied Pandas all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

For the tasks, we'll be using the COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. You can find the orginal dataset here: https://github.com/CSSEGISandData/COVID-19


**Dataset Link**: https://raw.githubusercontent.com/dphi-official/Datasets/master/covid_19_data.csv

**Resources**: You may consider referring to this resource while solving this project: https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

**Information about the dataset:**

There are 8 features:

* SNo: Serial number
* ObservationDate: Date of observation of the cases (format: MM/DD/YYYY)
* Province/State: Province or State of the country where cases were observed
* Country/Region: Country where cases were observed
* Last Update: Time in UTC at which the row is updated for the given province or country. (It is not in a standard format)
* Confirmed: Cumulative number of confirmed cases till the date
* Deaths: Cumulative number of deaths till the date
* Recovered: Cumulative number of recovered cases till date

**Instruction for the learner:** 
* Recommended to revise 'groupby()' method of pandas
* Recommended to understand the word **'Cummulative'** properly for three features - 'Confirmed', 'Recovered' and 'Deaths'.
* Please note that the dtype of datetime columns are of object, convert them to datetime as shown below:

###**Task 1**

* Read the dataset and name is as `df`
* Print first 10 observations of the dataset
* Check for the data types of the all the variables in the dataset
* Convert columns ['ObservationDate'] and ['Last Update'] to from object to datatime data type.

In [11]:
import pandas as pd
file = pd.read_csv("/covid_19_data.csv")
file.head(10)
file.dtypes
file['ObservationDate'] = pd.to_datetime(file['ObservationDate'])
file['Last Update'] = pd.to_datetime(file['Last Update'])
file.dtypes

SNo                         int64
ObservationDate    datetime64[ns]
Province/State             object
Country/Region             object
Last Update        datetime64[ns]
Confirmed                 float64
Deaths                    float64
Recovered                 float64
dtype: object

In [12]:
file.head(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,2020-01-22 17:00:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,2020-01-22 17:00:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,2020-01-22 17:00:00,0.0,0.0,0.0
5,6,2020-01-22,Guangdong,Mainland China,2020-01-22 17:00:00,26.0,0.0,0.0
6,7,2020-01-22,Guangxi,Mainland China,2020-01-22 17:00:00,2.0,0.0,0.0
7,8,2020-01-22,Guizhou,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0
8,9,2020-01-22,Hainan,Mainland China,2020-01-22 17:00:00,4.0,0.0,0.0
9,10,2020-01-22,Hebei,Mainland China,2020-01-22 17:00:00,1.0,0.0,0.0

### **Task 2**
* Create a subset of the data `df`, only taking observations which was **last updated** on **2020-06-13 03:33:14** and name this dataframe as **updated_data**. 
* Print the total no. of observations and unique country records in **updated_data**

In [24]:
updated_data = file[(file['Last Update'] == '2020-06-13 03:33:14') ]
updated_data["Country/Region"].unique()
updated_data["Country/Region"].count()

729

### **Task 3**
* Create a subset of data from the dataframe **updated_data**, only taking the top 10 countries which have the maximum number of confirmed cases with features - **'Country/Region', 'Confirmed', 'Deaths' and 'Recovered'**. Name this dataframe as 'top_10'

* print the name of the countries in 'top_10' dataset
* Which country has the lowest number of confirmed cases among the ten countries in top_10 dataframe?
Hint: use groupby() to group all the observations with same country, sum all the observations and then sort the dataframe by confirmed cases.

In [61]:
top_10 = updated_data.sort_values(by = "Confirmed", ascending = False).iloc[0:9, 3:]
top_10["Country/Region"].unique()
top_10.sort_values(by = "Confirmed").head()[:1]

      Country/Region         Last Update  Confirmed  Deaths  Recovered
40320             US 2020-06-13 03:33:14   146659.0  4978.0        0.0

In [47]:
top_10.head()

      Country/Region         Last Update  Confirmed   Deaths  Recovered
40577             US 2020-06-13 03:33:14   381714.0  30758.0        0.0
40556         Russia 2020-06-13 03:33:14   202935.0   3187.0   118024.0
40131         France 2020-06-13 03:33:14   188918.0  29315.0    69578.0
40148           Iran 2020-06-13 03:33:14   182525.0   8659.0   144649.0
40233         Turkey 2020-06-13 03:33:14   175218.0   4778.0   149102.0

### **Task 4**
* Add two columns in 'top_10' dataframe - 'Recovered_percentage' and 'Deaths_percentage' 

where

'Recovered_percentage' = (Recovered cases / Confirmed cases) * 100

'Death_percentage' = (Deaths cases / Confirmed cases) * 100

* Print the top 3 countries with highest recovery precent

In [50]:
address = top_10 ["Recovered"] * 1.882

In [62]:
Recovered_percentage = (top_10 ["Recovered"] / top_10 ["Confirmed"]) * 100
Death_percentage = (top_10 ["Deaths"] / top_10 ["Confirmed"]) * 100
top_10.insert(loc = 5, column ="Recovered_percentage", value=Recovered_percentage )

In [63]:
top_10.insert(loc = 6, column ="Death_percentage ", value= Death_percentage  )

In [64]:
top_10.head()

,Country/Region,Last Update,Confirmed,Deaths,Recovered,Recovered_percentage,Death_percentage
40577,US,2020-06-13 03:33:14,381714.0,30758.0,0.0,0.000000,8.057865
40556,Russia,2020-06-13 03:33:14,202935.0,3187.0,118024.0,58.158524,1.570454
40131,France,2020-06-13 03:33:14,188918.0,29315.0,69578.0,36.829736,15.517314
40148,Iran,2020-06-13 03:33:14,182525.0,8659.0,144649.0,79.248870,4.744008
40233,Turkey,2020-06-13 03:33:14,175218.0,4778.0,149102.0,85.095139,2.726889

##**Scores**

Each of the tasks is of 15 marks each and the scores will be given accordingly after the notebook review.